{
    "presets": [
        "@babel/preset-env",
    ],
    "plugins": [
        [
            "babel-plugin-transform-builtin-extend",
            {
                "globals": [
                    "Error",
                    "Promise"
                ]
            }
        ],
        [
            "@babel/plugin-transform-async-to-generator"
        ]
    ]
}
