<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Define the package sources, nuget.org and zeroc.com. -->
  <!-- `clear` ensures no additional sources are inherited from another config file. -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="zeroc.com" value="https://download.zeroc.com/nexus/repository/nuget-nightly/" />
  </packageSources>

  <!-- Define mappings by adding package patterns beneath the target source. -->
  <!-- zeroc.* packages will be restored from zeroc.com, everything else from nuget.org. -->
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="zeroc.com">
      <package pattern="zeroc.ice.net" />
    </packageSource>
  </packageSourceMapping>
</configuration>
