<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- The endpoint of the server's object adapter. This should be an endpoint on an internal network (like
         192.168.x.x), or on the loopback, so that the server is not directly accessible from the Internet. -->
    <add key="Callback.Server.Endpoints" value="tcp -h localhost -p 10000"/>
    <!-- Warn about connection exceptions -->
    <add key="Ice.Warn.Connections" value="1"/>
    <!-- Transport Tracing
             0 = no transport tracing
             1 = trace connection establishment and closure
             2 = like 1, but more detailed
             3 = like 2, but also trace data transfer -->
    <add key="Ice.Trace.Transport" value="0"/>
    <!-- Protocol Tracing
             0 = no protocol tracing
             1 = trace protocol messages -->
    <add key="Ice.Trace.Protocol" value="0"/>
  </appSettings>
</configuration>
