Checks:
'-*,
  clang-analyzer-*,
  -clang-diagnostic-shadow-uncaptured-local,
  cert-*,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  performance-*,
  -performance-avoid-endl
'
WarningsAsErrors:  '*'
HeaderFilterRegex: ''
UseColor: true
FormatStyle: 'file'
CheckOptions:
  modernize-use-nullptr.NullMacros: 'NULL'
  performance-unnecessary-value-param.AllowedTypes: 'std::exception_ptr'
