# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

*.iml export-ignore
.gitignore export-ignore
.gitattributes export-ignore

# Set line endings: CRLF for Windows scripts, LF for Unix scripts
*.bat text eol=crlf
**/gradlew eol=lf
