<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>

	<key>CFBundleIconFile</key>
	<string>logo.icns</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>


    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>

    <key>CFBundleExecutable</key>
    <string>QtChatDemo</string>

    <key>CFBundleName</key>
    <string>QtChatDemo</string>

    <key>CFBundleShortVersionString</key>
    <string>3.7.0</string>

    <key>CFBundleIdentifier</key>
    <string>com.zeroc.QtChatDemo</string>

    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2015, ZeroC, Inc.</string>

    <key>LSApplicationCategoryType</key>
    <string>public.app-category.social-networking</string>
</dict>
</plist>
