<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- This property is used to configure the endpoints of the clock subscriber adapter. These endpoints are where the
         client receives topic messages from IceStorm. -->
    <add key="Clock.Subscriber.Endpoints" value="tcp -h localhost:udp -h localhost"/>
    <!-- This property is used by the clients to connect to IceStorm. -->
    <add key="TopicManager.Proxy" value="DemoIceStorm/TopicManager:default -h localhost -p 10000"/>
    <!-- Warn about connection exceptions -->
    <add key="Ice.Warn.Connections" value="1"/>
    <!-- Transport Tracing
             0 = no transport tracing
             1 = trace connection establishment and closure
             2 = like 1, but more detailed
             3 = like 2, but also trace data transfer -->
    <add key="Ice.Trace.Transport" value="0"/>
    <!-- Protocol Tracing
             0 = no protocol tracing
             1 = trace protocol messages -->
    <add key="Ice.Trace.Protocol" value="0"/>
  </appSettings>
</configuration>
