<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Hello.Endpoints" value="ice+tcp://localhost:10000"/>
    <!-- Logger plug-in configuration -->
    <add key="Ice.Plugin.Logger" value="HelloPlugin.dll:Demo.HelloPluginFactory"/>
    <!-- Dispatch interceptor plug-in Configuration -->
    <add key="Ice.Plugin.DispatchInterceptor" value="InterceptorPlugin.dll:Demo.DispatchInterceptorPluginFactory"/>
    <!-- Hello plug-in configuration -->
    <add key="Ice.Plugin.Hello" value="LoggerPlugin.dll:Demo.LoggerPluginFactory"/>
    <!-- Ensure that dispatch interceptor plug-in is loader before hello plug-in -->
    <add key="Ice.PluginLoadOrder" value="DispatchInterceptor Hello"/>
    <!-- Warn about connection exceptions -->
    <add key="Ice.Warn.Connections" value="1"/>
    <!-- Transport Tracing
             0 = no transport tracing
             1 = trace connection establishment and closure
             2 = like 1, but more detailed
             3 = like 2, but also trace data transfer -->
    <add key="Ice.Trace.Transport" value="0"/>
    <!-- Protocol Tracing
             0 = no protocol tracing
             1 = trace protocol messages -->
    <add key="Ice.Trace.Protocol" value="0"/>
  </appSettings>
</configuration>
