// **********************************************************************
//
// Copyright (c) 2003-2016 ZeroC, Inc. All rights reserved.
//
// **********************************************************************

buildscript {
    repositories {
        maven {
            url 'https://repo.zeroc.com/nexus/content/repositories/releases'
        }
    }
    dependencies {
        classpath group: 'com.zeroc.gradle.ice-builder', name: 'slice', version: '1.0.5'
    }
}

apply plugin: 'java'
apply plugin: 'slice'

slice {
    java {
        srcDir = '.'
    }
}

sourceSets {
    main {
        java {
            srcDir '.'
        }
    }
}

repositories {
    maven {
        url 'https://repo.zeroc.com/nexus/content/repositories/releases'
    }
    // Uncomment to build against locally installed jars
    //flatDir {
    //    name 'local'
    //    dirs '/opt/Ice-3.7.0/lib'
    //}
}

dependencies {
    compile 'com.zeroc:ice:3.7.0'
}
