<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Properties.Endpoints" value="ice+tcp://localhost:10000"/>
    <!-- Enable the Ice administrative facility by setting the following properties. -->
    <add key="Ice.Admin.Endpoints" value="ice+tcp://localhost:10001"/>
    <add key="Ice.Admin.InstanceName" value="Demo"/>
    <add key="Ice.Trace.Admin.Properties" value="2"/>
    <!-- Initial values for demo properties -->
    <add key="Demo.Prop1" value="0"/>
    <add key="Demo.Prop2" value="0"/>
    <add key="Demo.Prop3" value="0"/>
    <!-- Warn about connection exceptions -->
    <add key="Ice.Warn.Connections" value="1"/>
    <!-- Transport Tracing
             0 = no transport tracing
             1 = trace connection establishment and closure
             2 = like 1, but more detailed
             3 = like 2, but also trace data transfer -->
    <add key="Ice.Trace.Transport" value="0"/>
    <!-- Protocol Tracing
             0 = no protocol tracing
             1 = trace protocol messages -->
    <add key="Ice.Trace.Protocol" value="0"/>
  </appSettings>
</configuration>
